body, html {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;

}

/* .instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
} */

header {
  font-size: 32px;
  font-weight: 600;
  height: 150px;
  /* background-color: #333333; */
  color: #DDDDDD;
  background-image: url("/images/earthforfootprint.png"); 
  top: -200px;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 15px; */
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

#homeSubmit {
float: center;

}

/* #doughnut-chart {
  height: 400px;
  width: auto;
} */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#dashheader {
  text-transform: uppercase;
  color: slategray;
  text-align: center;
  

}

#globe {
  height: 150px;
  width: 150px;
  padding-top: -100px;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
}

#uploaddash {
  align-self: right;
}

#dashbody {
  background: url("../images/globe.png");
  background-repeat: no-repeat;
  max-height: 100%;
  
  

}

#bar {
  max-height: auto;
  max-width: 600;
}

#donuthome {
  max-height: auto;
  max-width: 600;
}

#linehome {
  max-height: auto;
  max-width: 600;
}

/* #demo {
  max-height: auto;
  max-width: 95%;
} */

#projectcheckboxes {
  max-width: 75%;
  justify-content: center;
}

#recent {
  min-height: 400px;
  height: auto;
  max-width: 600px;
  background-color: lightgray;
  text-transform: uppercase;
  padding-left: 20px;
  background-color: #80cbc4;
  
}

#homecharts {
  padding-right: 150px;
}

#homeform {
  padding-top: 25px;
}

#projectheader {
text-transform: uppercase;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 80%; 
    border-collapse: collapse; 
    border-spacing: 0; 
}

td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    width: 40px;
    /* transition: all 0.3s;  Simple transition for hover effect */
}

th {  
    background: #90a4ae;  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: #eceff1;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #eceff1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #b0bec5; }  



#logo {
  position: relative;
  top: -120px;
  height: 400px;
  width: auto;
  overflow: hidden; 
}

#logoContainer {
  position: relative;
  height: 150px;
  width: auto;
  overflow: hidden; 

}

md-dialog {
  padding: 15px;
}

#footprintsTable {
  padding-left: -50px;
}

#projects {
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  color: #90a4ae;
}

h2, h3 {
  color: #37474f;
}



md-nav-bar {
  color: #90a4ae;
}

a {
    text-decoration: none;
    color: #37474f;
}

.navigateback {
  color: #90a4ae;
}


.homeimages {
  height: 100px;
  width: auto;
  opacity: 0.5;
  filter: alpha(opacity=50)
  
  

}

.blurb {
  height: 100px;
  width: auto;
  align-content: middle;
  vertical-align: middle;
  text-align: center;
  text-justify: inter-word;
  padding-bottom: 10px;
}
#nonmetric {


color: #80cbc4;
}

#tryit {

  padding: 10px;
}


