<!-- <div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Info Page</a></li>
    </ul>
  </div>
</div> -->
<md-nav-bar md-selected-nav-item="currentNavItem">


   <span flex></span>
  <div class="upload-btn-wrapper" layout-align="center end">
    <md-button class="md-raised" cursor:pointer>Upload New Footprint
      <md-icon class="material-icons">attach_file</md-icon>
    </md-button>
    <input type="file" name="myfile">
  </div>
  <md-button class="md-raised md-primary" id="log" ng-click="uc.userService.logout()">Log Out</md-button>


</md-nav-bar>
