<!-- <div class="navbar">
  <div class="container">
    <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Info Page</a></li>
    </ul>
  </div>
</div> -->
<md-nav-bar md-selected-nav-item="currentNavItem">

  <!-- , $index -->
   <span flex></span>
  <div ng-controller="UserController as uc">
    <md-button class="md-primary md-raised" ng-click="uc.upload($event)" class="md-raised" aria-label="Open Dialog"
      id="dashdialog">
      Upload New Footprint
    </md-button>
    <md-button class="md-raised md-primary" id="log" ng-click="uc.userService.logout()">Log Out</md-button>
  </div>
  <!-- <md-button class="md-raised md-primary" id="log" ng-click="uc.userService.logout()">Log Out</md-button> -->


</md-nav-bar>
