
<md-nav-bar md-selected-nav-item="currentNavItem">

  <!-- , $index -->
   <span flex></span>
  <div ng-controller="UserController as uc">
      <md-button  ng-click="uc.newProject($event)"  aria-label="Open Dialog" id="dashdialog">
          Create Project
        </md-button>
    <md-button  ng-click="uc.upload($event)"  aria-label="Open Dialog"
      id="dashdialog">
      Upload New Month for existing project
    </md-button>
    <md-button  id="log" ng-click="uc.userService.logout()">Log Out</md-button>
  </div>
</md-nav-bar>
