<div ng-include="'views/partials/nav.html'"></div>

<md-content class="container">
    <div id="dashheader" layout="row" layout-align="center center">

        <h1>{{uc.userObject.organization}} DASHBOARD</h1>

        
        <!-- <img id="globe" src="images/globe.png"> -->
    </div>
    <div layout="row">
        <div id="bar" flex="70">
            <h2>TOTAL FOOTPRINT</h2>

            <canvas id="bar-chart" width="400" height="225"></canvas>
            <!-- <canvas id="line-chart" width="400" height="225"></canvas> -->

        </div>

        <div flex="30">
            <h2>RECENT PROJECTS</h2>
            <md-card id="recent">
                <h3 ng-repeat="userProject in uc.userService.userProjects">
                    {{userProject.name}}
                        <md-button class="md-raised md-primary" ng-click="uc.showProject($event, $index)" layout-align="left">More Info</md-button>
                    </md-button>
                </h3>

            </md-card>

        </div>
    </div>


    <div layout="row" layout-align="left">
        <!-- <md-input-container>
            <label>Project</label>

            <md-select class="select" md-selected-text="user.selectedProject" ng-model="user.selectedProject">
                <md-option ng-repeat="userProject in uc.userService.userProjects">
                    {{userProject.name.selectedIndex}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>

            <label>Country of Operation</label>
            <md-select class="select" md-selected-text="user.selectedCountry" ng-model="user.selectedCountry">
                <md-option ng-repeat="country in uc.userService.countries.data">
                    {{country.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Project Type</label>
            <md-select class="select" ng-model="uc.userService">
                <md-option ng-repeat="name in uc.userService.userProjects">
                    {{userProjects.names}}
                </md-option>
            </md-select>
        </md-input-container> -->



    </div>


</md-content>
