<div ng-include="'views/partials/nav.html'"></div>

<md-content class="container">
    <div layout="row" layout-align="start start" class="navigateback">
        <md-button ng-show="uc.showButton" ng-click="uc.navigate()">Back to Admin Dashboard</md-button>
    </div>
    <div id="dashheader" layout="row" layout-align="center center">

        <h1>{{uc.userObject.organization}} DASHBOARD</h1>


        <!-- <img id="globe" src="images/globe.png"> -->
    </div>
    <div layout="row">
        <div id="dashline" flex="70">
            <h2>TOTAL CARBON FOOTPRINT</h2>

            <canvas id="linechart" width="400" height="225"></canvas>
            <!-- <canvas id="line-chart" width="400" height="225"></canvas> -->

        </div>

        <div flex="25">
            <h2>YOUR PROJECTS</h2>
            <md-card id="recent">
                <h3 ng-repeat="userProject in uc.userService.userProjects">

                    <md-button ng-click="uc.showProject($event, $index)" layout-align="left">{{userProject.name}}</md-button>
                    </md-button>
                </h3>

            </md-card>

        </div>
    </div>

    <h1>VISUALIZE YOUR IMPACT</h1>
    <!-- DONUTS: -->
    <div id="dashdonut" layout="row" flex>
        <div layout="column" flex="15">
            <h2>TARGET YOUR IMPACT, CUSTOMIZE YOUR VIEW</h2>
            <div>
                <h3>VIEW BY:
                </h3>
                <md-input-container>

                    <md-select ng-model="uc.viewBy" ng-change="uc.changeView()">
                        <md-option value="project">Project</md-option>
                        <md-option value="period">Period</md-option>
                        <md-option value="category">Category</md-option>
                        <md-option value="type">Type</md-option>
                        <md-option value="country">Country</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <!-- TO DO: get route for the particulars dependening on selection
          STRETCH: let there be an ALL option
          Which one: <select ng-model="lc.particularDonut">
          </select> -->
            <div>
                <h3>WHICH ONE?</h3>

                <md-select ng-show="uc.activeSelectorDonut == 'project'" ng-model="uc.donutParticular">
                    <md-option ng-repeat="x in uc.donutResults" ng-value="x.project">{{x.project}}</md-option>
                </md-select>
                <md-select ng-show="uc.activeSelectorDonut == 'period'" ng-model="uc.donutParticular">
                    <md-option ng-repeat="x in uc.donutResults" ng-value="x.period">{{x.period | date: "MMM yyyy"}}</md-option>
                </md-select>
                <md-select ng-show="uc.activeSelectorDonut == 'type'" ng-model="uc.donutParticular">
                    <md-option ng-repeat="x in uc.donutResults" ng-value="x.type">{{x.type}}</md-option>
                </md-select>
                <md-select ng-show="uc.activeSelectorDonut == 'country'" ng-model="uc.donutParticular">
                    <md-option ng-repeat="x in uc.donutResults" ng-value="x.country">{{x.country}}</md-option>
                </md-select>
                <md-select ng-show="uc.activeSelectorDonut == 'category'" ng-model="uc.donutParticular">
                    <md-option value="living">Living</md-option>
                    <md-option value="shipping">Shipping</md-option>
                    <md-option value="travel">Travel</md-option>
                </md-select>
            </div>

            <div>
                <h3>DIVIDED BY:</h3>
                <md-select ng-model="uc.sliceBy">
                    <md-option ng-value="uc.viewByObject.one">{{uc.viewByObject.one}}</md-option>
                    <md-option ng-hide="uc.choseProj" ng-value="uc.viewByObject.two">{{uc.viewByObject.two}}</md-option>
                    <md-option ng-hide="uc.choseProj" ng-value="uc.viewByObject.three">{{uc.viewByObject.three}}</md-option>
                    <md-option ng-value="uc.viewByObject.four">{{uc.viewByObject.four}}</md-option>
                </md-select>
            </div>
            <md-button class="md-raised md-accent" ng-click="uc.submitQuery(uc.viewBy, uc.donutParticular, uc.sliceBy)">View Chart</md-button>

        </div>

        <div flex id="donutChartContainer">
            <canvas id="donutChart" width="400" height="225"></canvas>
        </div>
    </div>



    <!-- BARS: -->
    <div id="dashbar" layout="row" flex>
        <div layout="column" flex="15">
            <h2>VIEW IMPACT BY CATEGORY OF USE</h2>
            <div>
                <h3>VIEW BY:
                </h3>
                <md-select ng-model="uc.barBy" ng-change="uc.changeBarView()">
                    <md-option value="project">Project</md-option>
                    <md-option value="period">Period</md-option>
                    <md-option value="type">Type</md-option>
                    <md-option value="country">Country</md-option>
                </md-select>
                <h3>WHICH ONE?</h3>
                <md-select ng-show="uc.activeSelector == 'project'" ng-model="uc.barParticular">
                    <md-option ng-repeat="x in uc.barResults" ng-value="x.project">{{x.project}}</md-option>
                </md-select>
                <md-select ng-show="uc.activeSelector == 'period'" ng-model="uc.barParticular">
                    <md-option ng-repeat="x in uc.barResults" ng-value="x.period">{{x.period | date: "MMM yyyy"}}</md-option>
                </md-select>
                <md-select ng-show="uc.activeSelector == 'type'" ng-model="uc.barParticular">
                    <md-option ng-repeat="x in uc.barResults" ng-value="x.type">{{x.type}}</md-option>
                </md-select>
                <md-select ng-show="uc.activeSelector == 'country'" ng-model="uc.barParticular">
                    <md-option ng-repeat="x in uc.barResults" ng-value="x.country">{{x.country}}</md-option>
                </md-select>
            </div>
            <md-button class="md-raised md-accent" ng-click="uc.submitBarQuery(uc.barBy, uc.barParticular)">View Chart</md-button>
        </div>



        <div flex id="barChartContainer">
            <canvas id="barChart" width="400" height="225"></canvas>
        </div>
    </div>

</md-content>