
<div class="container">
     <div ng-include="'/views/partials/login.html'"></div>
    
    <div layout="row" layout-xs="column">
        <div id="trialForm" flex>
            TRY IT FOR YOURSELF
            <a href="#register">Register</a>
            <div layout="column" layout-align="center center" ng-cloak class="md-block">
            
                <md-content layout-padding class="inputs">
            
                    
                    <div layout-gt-sm="row">
            
                        <md-input-container>
                            <label>Organization Name</label>
                            <input ng-model="">
                        </md-input-container>
                        
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>Project Type</label>
                            <md-select ng-model="">
                                <md-option>
                                    <em>None</em>
                                </md-option>
                                <md-option ng-repeat="" ng-value="" ng-disabled="$index === 1">
                                    {{project.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Country of Operation</label>
                            <md-select ng-model="">
                                <md-option>
                                    <em>None</em>
                                </md-option>
                                <md-option ng-repeat="" ng-value="" ng-disabled="$index === 1">
                                    {{country.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div>
                        <md-input-container><label>Month</label>
                        <md-select ng-model="">
                            <md-option>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="" ng-value="" ng-disabled="$index === 1">
                                {{project.abbrev}}
                        </md-select>
                        </md-input-container>
                        <md-input-container>
                        <label>Year</label>
                        <md-select ng-model="">
                            <md-option>
                                <em>None</em>
                            </md-option>
                            <md-option ng-repeat="" ng-value="" ng-disabled="$index === 1">
                                {{project.abbrev}}
                            </md-option>
                        </md-select></md-input-container>
                        </div>
                    </div>
                    </md-input-container>
                  
            </div>
            
            </md-content>
            <md-content>
                <choose-file layout="row">
                    <input id="fileInput" type="file" class="ng-hide">
                    <md-input-container flex class="md-block">
                        <input type="text" ng-model="fileName" disabled>
                        <div class="hint">Select your file</div>
                    </md-input-container>
                    <div>
                        <!-- <button type="file" ng-click="lc.uploadFile($file, $invalidFiles)">
                            Select File</button> -->
                        <!-- <md-button type="file" id="uploadButton" ng-click="lc.uploadFile()" class="md-fab md-mini">
                            <md-icon class="material-icons">attach_file</md-icon>
                        </md-button> -->
                        
                                <input type="file" id="file" name="file">
                            <md-button ng-click="lc.uploadFile()"><md-icon class="material-icons">attach_file</md-icon></md-button>
                    </div>
                </choose-file>
            </md-content>
            <div id="homeSubmit">
            <md-button class="md-primary md-raised" ng-click="">Submit Data</md-button>
            </div>
            </div>
        <div id="demo" flex>
            VIEW FOOTPRINT'S FOOTPRINT
        </div>
</div>
