<div ng-include="'/views/partials/login.html'"></div>
<div class="container" ng-cloak>
    <div layout="row" layout-align="center center">
        <h1>CHECK OUT FOOTPRINT'S OWN CARBON IMPACT</h1>
    </div>
    <div layout="row" layout-xs="column" id="homecharts" layout-align="space-around center">
        <div flex id="donuthome">
            <canvas id="doughnut-chart" width="400" height="225"></canvas>
        </div>
        <div flex id="linehome" ng-hide="lc.hide">
            <canvas id="line-chart" width="400" height="225"></canvas>
        </div>
    </div>
    <div layout="row" layout-align="center center">
        <h1 class="md-primary">NOW TRY IT FOR YOUR OWN ORGANIZATION</h1>
    </div>
    <div layout="row" layout-align="space-around center" id="homeform">

        <md-content>
            <md-card id="tryit">
                <div>
                    <md-input-container>
                        <label>Organization Name</label>
                        <input ng-model="user.selectedOrganization">
                    </md-input-container>
                    <a href="./assets/footprint_template_real.csv" download>Download Metric CSV</a>
                    <a href="./assets/footprint_template_real_nonmetric.csv" id="nonmetric" download>Download Non-Metric CSV</a>
                </div>



                <div class="upload-btn-wrapper">
                    <md-button class="md-raised md-accent" cursor:pointer>Upload CSV
                        <md-icon class="material-icons">attach_file</md-icon>
                    </md-button>
                    <input type="file" id="file" name="myfile">
                </div>


                <div>
                    <md-radio-group ng-model="data.type">
                        <md-radio-button value="Metric" class="md-primary"> Metric </md-radio-button>
                        <md-radio-button value="English"> Non-Metric </md-radio-button>
                    </md-radio-group>
                    </form>
                </div>
                <div id="homeSubmit">
                    <md-button class="md-primary md-raised" ng-click="lc.getUserData(user); lc.uploadFile(); lc.dataType(data)">Submit Data</md-button>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdA4eLoZ4m_Ec_nLWfnloq8z-tselxp6phQhOEKnYxvUQ-eRw/viewform">Give us feedback!</a>
                </div>
    </div>
    </md-card>
    <div layout="row" layout-align="space-between center">
        <div class="blurb" flex="20">
            <h3>MEASURE</h3>
            <img class="homeimages" src="images/measure.svg" />
            <p>Your data, your footprint. Before you can mitigate your environmental impact, first you need to understand it.
                Start crunching the numbers for free, today.</p>
        </div>
        <div class="blurb" flex="20">

            <h3>BENCHMARK</h3>
            <img class="homeimages" src="images/benchmark.svg" />
            <p>Track your footprint over time with our simplified carbon calculator. Identify areas for improvement and build
                metrics for success.
            </p>
        </div>
        <div class="blurb" flex="20">
            <h3>OPTIMIZE</h3>
            <img class="homeimages" src="images/optimize.svg" />
            <p>Reduce your footprint by increasing efficiency. Generate cost-savings to do more on each dime. Sustainability
                is worth more than just the warm fuzzy feeling.
            </p>
        </div>
    </div>
    </md-content>
</div>

