<!-- <div ng-include="'views/partials/nav.html'"></div> -->



<div layout="row" layout-align="center center">
<h1 id="projectheader">{{pc.userProjects[pc.selectedIndex].name}}</h1>
</div>

<div flex="30">
    <h2>RECENT PROJECTS</h2>
    
    <md-card id="recent">
         {{pc.userProjects}}
        <!-- <h3 ng-repeat="userProject in pc.userProjects">
            {{userProject.name}}
            <md-button class="md-raised md-primary" ng-click="pc.showProject($event, $index)" layout-align="left">More Info</md-button>
            
        </h3> -->

    </md-card>
</div>

